/*Ini file CSS*/
main{
    padding-left: 32px;
    padding-right:  32px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    background-color: Lavender;
}

body{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-title{
    text-align: center;
}

.custom-select{
    text-align: center;
    position: relative;
    font-family: math;
}

.custom-select-1{
    background-color: midnightblue;
    text-align: center;
    color: white;
    font-family: math;
}

.calculation{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

button{
    background-color: CornflowerBlue ;
    color: white;
    margin-right: 8px;
}

@media screen and (max-width: 500px) {
    .container {
      width: 90%;
    }
}